:root {
  --scale: 0.55;
  --font-var-1: calc(2rem * var(--scale));
  --font-var-2: calc(1rem * var(--scale));
  --font-var-3: calc(1.5rem * var(--scale));
  --font-var-4: calc(0.8rem * var(--scale));
  --font-var-5: calc(1.6rem * var(--scale));
  --r-primary: #04081d;
}
.preview-container {
  width: 56.55vh;
  height: 80vh;
  background-color: #fff;
  color: #000;
  padding: 1.5rem;
}
.basic-info {
  .name {
    font-size: var(--font-var-1);
    color: var(--r-primary);
  }
  .headline {
    font-size: var(--font-var-3);
    color: #666;
  }
  .summary {
    font-size: var(--font-var-2);
  }
  .top {
    padding: 0.5rem 0;
  }
  .bottom {
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
    padding: 0.75rem 0;
    margin-top: 0.5rem;
    gap: .5rem;
    border-top: 2px solid #04081d;
    border-bottom: 2px solid #04081d;
  }
}
.contact {
  gap: 0.5rem;
  font-size: var(--font-var-2);
  svg {
    width: 1rem;
    height: 1rem;
  }
}

.main-data {
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  .left {
    width: 60%;
    flex-shrink: 0;
  }
}
.section-heading {
  font-size: var(--font-var-5);
  color: var(--r-primary);
  font-weight: 600;
}
.section-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-item {
  color: #000;
  .title-head {
    font-size: var(--font-var-3);
    font-weight: 600;
  }
  .sub-head {
    font-size: var(--font-var-3);
  }
  .sub-info {
    color: #666;
    display: flex;
    justify-content: space-between;
    font-style: italic;
    font-size: var(--font-var-4);
  }
  .company-summary {
    font-size: var(--font-var-2);
  }
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: calc(0.5rem * var(--scale));
  .single-skill {
    font-size: var(--font-var-2);
    background-color: #4e545a;
    color: #fff;
    border-radius: 0.2rem;
    padding: 0.2rem 0.4rem;
    line-height: 1;
  }
}